aiofiles
aiogram
aiohappyeyeballs
aiosignal
annotated-types
anyio
attrs
certifi
colorama
distro
frozenlist
h11
httpcore
httpx
idna
jiter
magic-filter
multidict
openai
propcache
pydantic
pydantic_core
sniffio
tqdm
typing-inspection
typing_extensions
yarl
aiohttp
python-dotenv